.body{
    background: rgb(162, 221, 235);
    font-family: 'Josefin Sans', sans-serif;
}

.header_div{
    background: rgb(68, 199, 199);
    color:whitesmoke;
    height: 100px;
    position: absolute;
    width: 100%;
}

.header_div p{
    font-size: 16px;
    letter-spacing: 2px;
    color:aliceblue;
    font-weight: bold;
}

.main_div button{
    font-size: 20px;
    width: 200px;
    margin-top: 100px;
    font-weight: bold;
}

.footer{
    position: fixed;
    color: rgb(3, 51, 15);
    background-color: rgb(193, 252, 255);
    bottom: 0;
    width:100%;
    font-size: large;
    font-weight: bold;
    line-height: 3;
    text-shadow: 0px 0px 12px rgb(76, 208, 208);
}

#img{
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-style: groove;
}